* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue;
}

.container {
  margin: auto;
  max-width: 1200px;
}
.a-logo {
  font-size: 24px;
}
.backgroud-header {
  background-color: black;
}
.header {
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 40px;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-left: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
}

.card-dogs,
.card-dogs-agupamento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  height: 150px;
  width: 267px;
  margin-left: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  text-align: center;
}

.card span {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 9px;
  line-height: 21px;
}

.card1 {
  height: 324px;
  width: 535px;
  display: flex;
  flex-direction: column;
}

.twitter {
  display: flex;
}

.card-twitter-1 img {
  position: absolute;
  height: 400px;
  width: 350px;
}

.cards-direita {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card-twitter {
  margin-bottom: 20px;
}

.card-twitter img {
  height: 190px;
  width: 350px;
}

.before-dog-1 {
  color: white;
  background-color: black;
  position: relative;
  height: 21px;
  width: 330px;
  margin-top: 361px;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.before-dog-2 {
  color: white;
  background-color: black;
  position: relative;
  height: 21px;
  width: 330px;
  margin-top: -42px;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.before-dog-3 {
  color: white;
  background-color: black;
  position: relative;
  height: 18px;
  width: 330px;
  margin-top: -42px;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 10px;
}
