* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue;

  line-height: 21px;
}

.container {
  margin: auto;
  max-width: 1200px;
}
.a-logo {
  font-size: 24px;
}
.backgroud-header {
  background-color: black;
}
.header {
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 40px;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-left: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
}

nav a:hover {
  font-size: 20px;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  transition-timing-function: ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  justify-content: center;
}

.grid .box img {
  height: 120px;
}

.box1 {
  height: 324px;
  width: 535px;
}

.grid p {
  text-align: center;
}

.grid2 {
  display: grid;
  justify-content: start;
}

img:hover {
  cursor: pointer;
}
